.checkout--buttons {
    padding-top: 10px;
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    button {
      color: white;
      border: 1px solid #fb8f3d;
      background: -webkit-linear-gradient(top, #fda251, #fb8f3d);
      background: -moz-linear-gradient(top, #fda251, #fb8f3d);
      background: -ms-linear-gradient(top, #fda251, #fb8f3d);

      &:hover {
        border: 1px solid #eb5200;
        background: -webkit-linear-gradient(top, #fd924c, #f9760b);
        background: -moz-linear-gradient(top, #fd924c, #f9760b);
        background: -ms-linear-gradient(top, #fd924c, #f9760b);
        box-shadow: 0 1px #efefef;
      }
    }
  }
  
  .checkout {
    padding-top: 20px;
    width: 60%;
    max-width: 700px;
    margin: auto;
  }
  
  .checkout--products {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    text-align: center;
  }
   
  .checkout--products-product,
  .checkout--products-container_img {
    width: 120px;
  }

  .checkout--products-description,
  .checkout--products-container_description {
    width: 100%;
  }
  
  .checkout--products-price,
  .checkout--products-container_delete {
    width: 180px
  }

  .checkout--products-container {
    display: flex;
    padding: 4px 0;
    border-bottom: 1px solid gray;
  }
  
  .checkout--products-container_img {
    height: 150px;
    border-right: 1px solid rgba(200, 192, 192, 0.9);
    display: flex;

    a {
      margin: 0 auto;
    }   

    img {
      height: 100%;
      margin: 0 auto;
    }
  }
  
  .checkout--products-container_description {
    height: 150px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .checkout--products-container_delete {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    border-left: 1px solid rgba(200, 192, 192, 0.9);
  }
  
  .fa-trash-alt {
    padding-top: 2px;
    color: white;
    cursor: pointer;
  }
    
  .headline {
    margin: 0;
  }

  .cart-totalPrice {
    font-size: 1.2em;
  }

  .cart-price {
    width: 160px;
    margin-left: auto;
    margin-bottom: 15px;

    p {
      margin-bottom: 5px;
    }
  }
  
  .checkout-button,
  .continue-shopping-button,
  .back-to-cart__button {
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .checkout-button {
    background: #5cb85c;
    border: 1px solid #4cae4c;
    color: white;
  }

  .checkout-button:hover {
    background-color: #47a447;
    border-color: #398439;
    color: white;
  }

  .continue-shopping-button,
  .back-to-cart__button {
    background-color: #fff;
    border: 1px solid #adadad;

    &:hover {
      background-color: #ebebeb;
      color: black;
    }
  }

  .back-to-cart__button {
    padding: 8.5px 16px;
  }

  .cart-total__table {
    margin-left: auto;
    margin-top: 15px;
  }

  .capitalize {
    text-transform: capitalize
  }
  
  .price {
    font-size: 1.6em
  }
  
  .reduced {
    font-size: 1.1em
  }

  .checkout-cart-total {
    .cart-total__table {
      margin: 0 auto 40px auto;
    }
  }

  .checkout-cart-total {
    .cart-total__table {
      .pay-button {
        padding: 15px 30px;
        font-size: 1.2em;
        margin-left: calc((343px - 174px)/2);
        cursor:pointer;
      }
    }
  }

  .user-edit__buttons a {
    margin: 0 5px;
  }