.admin-dashboard,
.user-dashboard {
  background: rgb(196, 195, 195) !important;
  border: 1px solid gray;
  /* width: 500px@; */
}

.active {
  font-weight: bold;
  color: black !important;
}

.form-product {
  margin-bottom: 25px;
}

.new-product-button {
  margin: 20px;
}

.profile-header {
    background-color: #af5a06d0;
    position: relative;
    overflow: hidden;
  }
  .profile-header .profile-header-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.75) 100%
    );
  }
  .profile-header .profile-header-content {
    color: #fff;
    padding: 25px;
  }
  
  .profile-header-img {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 0 -20px;
    padding: 3px;
    border-radius: 4px;
    background: #fff;
  }
  
  .profile-header-img img {
    max-width: 100%;
  }
  
  .profile-header-info h4 {
    font-weight: 500;
    color: #fff;
    margin: 35px 0;
  }
  
  .profile-header-img + .profile-header-info {
    margin-left: 140px;
  }
  
  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    position: relative;
  }
  
  .profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -10px 0 0;
    padding: 0 0 0 140px;
    white-space: nowrap;
    border-radius: 0;
  }
  .profile-header .profile-header-tab > li {
    display: inline-block;
    margin: 0;
  }
  
  .profile-header .profile-header-tab > li > a {
    display: block;
    color: #929ba1;
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    border: none;
  }
  
  .profile-header .profile-header-tab > li.active > a,
  .profile-header .profile-header-tab > li > a.active {
    color: #242a30;
  }
  
  .profile-content {
    padding: 25px;
    border-radius: 4px;
  }
  
  .profile-content:after,
  .profile-content:before {
    content: "";
    clear: both;
  }
  .tab-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .profile-content .tab-content,
  .profile-content .tab-pane {
    background: 0 0;
  }
  

  .profile-left {
    width: 200px;
    float: left;
  }
  
  .user-dashboard__header {
    padding: 0;
  }
  
  .table.table-profile > tbody > tr > td,
  .table.table-profile > thead > tr > th {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #242a30;
    background: 0 0;
  }
  
  .table.table-profile > tbody > tr > td.field {
    width: 20%;
    text-align: right;
    font-weight: 600;
    color: #2d353c;
  }
  
  .table.table-profile > tbody > tr.highlight > td {
    border-top: 1px solid #b9c3ca;
    border-bottom: 1px solid #b9c3ca;
  }
  
  .profile-section + .profile-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #b9c3ca;
  }
  
  .profile-section:after,
  .profile-section:before {
    content: "";
    display: table;
    clear: both;
  }
  .form-control.input-inline {
    display: inline;
    padding: 0 7px;
  }

  .dashboard {
    background-color: #eeeeee;
    min-height: 600px;
  }