  .footer-header {
    font-size: 1.7em;
    color: white;
    font-family: $font-logo;
    text-align: center;
  }
  
  .footer-container__brand {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: 2em;

    .footer-container__header {
      font-family: $font-logo;
      font-size: 1.4rem;
      margin-top: -10px;
      color: white;
    }
  }
 
  .footer-container__feedback {
    text-align: center;
    justify-content: space-around;
  }
  
  .footer--container {
    display: grid;
    grid-template-columns: (100/3)*1% (100/3)*1% (100/3)*1%;
    grid-auto-rows: minmax(180px, auto);
    grid-template-areas: "shop brand account";
    padding: 20px 0;
    background-color: $light-brown;
  }
   
  .footer--container-shop-items {
    width: 130px;
    margin-left: calc( (100% - 65px)/2 );
  }
  
  .footer-contact__items {
    width: 130px;
    margin-left: calc( (100% - 100px)/2 );
  }
  
  .footer--container-shop {
    grid-area: shop;
  }

  .footer-container__brand {
    grid-area: brand;
  }
  
  .footer-contact {
    grid-area: account;
  }
  
  .footer--container-socialMedia {
    text-align: center;
    padding: 0px 20px;
  }

  .fa-pied-piper-hat {
    font-size: 2em;
    color: $orange;
  }

  .footerSM {
    font-size: 2em;
    padding: 5px;
    color: white;

    &:hover {
      color: #111111;
    }
  }

  .footer-div {
    color: white;
  }
  
  .footer {
    background: $light-brown;
    color: #ffffff;
    padding: 50px 20px;
  }

  .aboutus {
    color: white;
    text-align: center;

    a {
      color: white;

      &:hover {
        color: $orange
      }
    }
  }
  
  .footer-container__payments {
    img {
      width: 70%;
    }
  }
  
  .footer3 {
    padding: 20px 0 35px 0;
    display: flex;
    background-color: $dark-brown;
    justify-content: space-around;
  }
  
  .footer-container__payments,
  .footer-container__icons,
  .aboutus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-div {
    a {
      color: white;
      &:hover {
        color: $orange
      }
    }
  }
    
  .footer-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;

    p {
      padding: 0 20px;
    }

    a {
      color: #dfdfdf;
    }
  }
  
  .footer-container__icons {
    .footer-header {
      font-size: 1rem;
      font-family: $font-website;
    }
  }
  
  .footer > p {
    text-align: center;
  }
  
  .fa-pinterest:hover {
    color: #bd081c;
  }
  .fa-instagram:hover {
    color: #c13584;
  }
  .fa-facebook:hover {
    color: #3b5998;
  }
  .fa-twitter:hover {
    color: #1da1f2;
  }
  .fa-youtube:hover {
    color: #ff0000;
  }