@media screen and (max-width: 700px) {
  .headerTop {
    flex-direction: column;
    height: 150px;
  }

  .headerTop--logo {
    order: 1;
    margin: 10px;
  }

  .headerTop--search,
  .headerTop--account-cart {
    order: 2;
    width: 100%;
  }

  .headerTop--account-cart .headerTop--account-cart__items {
    text-align: center;
    margin: 20px 0;
  }

  .headerTop--search form {
    margin: auto;
    width: 50%;
  }

  .headerTop--search form input {
    width: 85%;
  }

  .headerTop--search form button {
    width: 15%;
  }

  .header-heading {
    font-size: 2.5rem;
  }

  .main-navbar {
    margin-top: 30px;
  }

  .product-informaton {
    margin-top: 20px;
  }
}

@media screen and (max-width: 60rem) {
  .product-grid {
    margin-bottom: 30px;
  }
  .main-products__list {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: minmax(80px, auto);
    grid-template-areas:
      "first first second second"
      "first first second second"
      "third third fourth fourth"
      "third third fourth fourth"
      "ninth ninth ninth ninth"
      "ninth ninth ninth ninth"
      "fifth fifth sixth sixth"
      "fifth fifth sixth sixth"
      "seventh seventh eigth eigth"
      "seventh seventh eigth eigth";
  }
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .preview {
    margin-bottom: 20px;
  }

  .admin-main__wrapper {
    justify-content: space-around;
  }
  .admin-main__messages {
    width: 55%;
  }
  .dashboard {
    min-height: 850px;
  }
  .dashboard-textarea {
    width: 100%;
  }
  .select-group {
    flex-wrap: wrap;
  }
  .select-group .select {
    width: 40%;
  }

  .checkout {
    width: 90%
  }
}

@media only screen and (max-width: 40rem) {
  .admin-main__wrapper {
    flex-wrap: wrap;
    min-height: 400px;
  }
  .checkout--products-container_img {
    grid-area: img;
  }
  .checkout--products-container_description {
    grid-area: desc;
  }
  .checkout--products-container_delete {
    grid-area: delete;
  }

  .admin-main__users {
    width: 100%;
    min-height: 200px;
  }

  .admin-main__messages {
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }

  .main-products__list {
    grid-template-columns: 100%;
    grid-template-rows: minmax(250px, auto);
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth"
      "fifth"
      "sixth"
      "seventh"
      "eigth"
      "ninth";
  }

  .user-navbar {
    flex-wrap: wrap;
    width: 80%;
  }

  .user-navbar__item {
    width: 50%;
    text-align: center;
    padding: 2px 5px;
  }

  #cssmenu {
    border-radius: 0;
    width: 100%;
  }

  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    padding: 8px 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #362d2e;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }

  .checkout--products-product,
  .checkout--products-container_img {
    width: 150px;
  }

  .checkout--products-description,
  .checkout--products-container_description {
    width: 70%
  }
  
  .checkout--products-price,
  .checkout--products-container_delete {
    width: 30%
  }

  .checkout--products-container_delete .remove-caption {
    display: none;
  }
  
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
  .footer--container {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "brand brand"
      "shop account";
  }

  .footer3 {
    flex-direction: column;
  }

  .footer3 {
    display: block;
  }

  .footer-container__brand {
    margin-bottom: 10px;
  }

  .footer--container-shop,
  .footer-contact {
    margin-bottom: 10px;
  }

  .footer-container__payments,
  .footer-container__icons,
  .aboutus {
    margin-bottom: 10px;
  }

}

  @media screen and (max-width: 420px) {
    .continue-shopping-button .fa-shopping-cart,
    .checkout-button .fa-arrow-circle-right {
      display: none;
    }

    .cart-total__table small {
      font-size: 0.75em;
    }

    .checkout--products-container_delete .btn-danger {
      font-size: 0.8rem;
    }

    .checkout--products-container_description p {
      font-size: 0.8rem;
    }

    .checkout--products-container_delete .reduced {
      font-size: 1em;
    }

    .checkout--products-container_delete .price {
      font-size: 1.4em;
    }

    .product-informaton::before,
    .product-informaton::after,
    h3.product-description::before,
    h3.product-description::after, {
      content: none;
    }

    .product-informaton,
    h3.product-description {
      font-size: 1.5rem;
      text-align: center;
      margin: 20px 0
    }

    div.action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    div.action button {
      margin: 5px;
    }
    
  }


@media screen and (max-width: 20rem) {
  .header-heading {
    font-size: 2rem;
  }
  .dashboard {
    min-height: 950px !important;
  }
  .select-group {
    width: 100%;
    flex-wrap: auto;
    flex-direction: column;
  }
  .select-group .select {
    width: 70%;
    margin: 2px auto;
  }
  .select-group select {
    width: 80%;
  }
  .select-group option {
    width: 80%;
  }
}

