.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  
  .preview-pic {
    width: 75%
  }

  .preview-thumbnail {
    width: 25%;
  }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column
  }
  .preview-thumbnail.nav-tabs li {
    width: 97%;
    margin-bottom: 3.5%;
  }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
  }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
  }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
  }
  
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
  }
  
  .card {
    margin: 10px auto;
    background: #eee;
    padding: 2em;
    line-height: 1.5em;
  }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
   
  .product-title,
  .price,
  .sizes,
  .colors,
  .condition,
  .brand {
    text-transform: capitalize;
  }
  
  .product-title {
    margin-top: 0;
  }
  
  .size {
    margin-right: 10px;
  }
  .size:first-of-type {
    margin-left: 40px;
  }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
  }
  .color:first-of-type {
    margin-left: 20px;
  }
  
  .add-to-cart,
  .like {
    background: #ff9f1a;
    cursor: pointer;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .add-to-cart:hover,
  .like:hover {
    background: #b36800;
    color: #fff;
  }
  
  .not-available {
    text-align: center;
    line-height: 2em;
  }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
  }
  
  .orange {
    background: #ff9f1a;
  }
  
  .green {
    background: #85ad00;
  }
  
  .blue {
    background: #0076ad;
  }
  
  .tooltip-inner {
    padding: 1.3em;
  }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .tab-pane img {
    height: 100%;
  }
  
  .product-informaton::before {
    width: calc((100% - 325px)/2);
    content: "";
    position: absolute;
    left: 15px;
    z-index: 1;
    border-top: 1px solid black;
    margin: 20px 0 auto;
  }

  h3.product-description::before {
    width: calc((100% - 285px)/2);
    content: "";
    position: absolute;
    left: 15px;
    z-index: 1;
    border-top: 1px solid black;
    margin: 18px 0 auto;
  }

  .product-informaton::after {
    width: calc((100% - 325px)/2);
    content: "";
    position: absolute;
    right: 15px;
    z-index: 1;
    border-top: 1px solid black;
    margin: 20px 0 auto;
  }

  h3.product-description::after {
    width: calc((100% - 285px)/2);
    content: "";
    position: absolute;
    right: 15px;
    z-index: 1;
    border-top: 1px solid black;
    margin: 18px 0 auto;
  }

  .product-informaton {
    margin-bottom: 20px;
    margin-left: calc((100% - 285px)/2)
  }
  
  h3.product-description  {
    margin: 20px;
    margin-left: calc((100% - 246px)/2);
  }

  .product-details__container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  .product-details__button {
    width: 140px;
    padding: 7px 5px;
    margin: auto;
  }

  .preview-pic,
  .tab-pane,
  .preview {
    height: 100%;
  }

  .preview.col-md-6 {
    padding: 0;
    margin: auto;
  }

  .product-details__button--cart {
    background: #5cb85c;
    border: 1px solid #4cae4c;
    color: white;
  }

  .product-details__button--cart:hover {
  background-color: #47a447;
  border-color: #398439;
  color: white;
  }

  .product-details__button--wishlist {
    background: #ef5777;
    border: 1px solid #ca3e5d;
    color: white;
  }

  .product-details__button--wishlist:hover {
  background-color: #ca3e5d;
  border-color: #9e384e;
  color: white;
  }

  div.action {
    margin: auto;
  }

  .price-header {
    text-align: center;
  }

  .price-header .reduced {
    font-size: 2em;
    font-family: Lobster;
  }
  
  .price-header .price {
    font-size: 3em;
    font-family: Lobster;
  }
