.review-img {
    width: 70%;
    margin: 0 auto;
  }
  
  .review-row {
    padding: 5px;
  }
  
  /* Product Details */
  .product-details__button {
    margin: 0 5px 0 0;
  }
  
  .cart-price {
    width: 150px;
    margin-left: auto;
    margin-bottom: 15px;
  }
  
  .cart-price p {
    margin-bottom: 5px;
  }