.navbar-nav {
    margin: auto;
}

.navbar-collapse li {
  padding: 0 15px;
}

.bg-light {
  background: white !important;
  border: 1px solid rgba(211, 211, 211, 0.884);
}

.dropdown-item {
  padding: 2px 0;
}

.dropdown-menu--flexed {
  display: flex;

  ul {
    flex: 1;
  }
}

.dropdown-menu {
  a {
    color: rgba(0,0,0,.5)
  }
}

.dropdown-menu {
  background: #f1f1f1;

  a.dropdown-item {
    margin-left: 15px;

    &:focus,
    &:hover,
    &:active {
      background: none;
      color: black;
}
  }
}

.dropdown-menu--flexed__category {
  list-style-type: none;
  padding-left: 0px;

  li {
    padding: 0;
  }
}

a.dropdown-menu--flexed__category--title {
  font-weight: bold;
  color: black;
}