.navbar-nav {
    margin: auto;
}

.navbar-collapse li {
  padding: 0 15px;
}

.bg-light {
  background: white !important;
  border: 1px solid rgba(211, 211, 211, 0.432);
}

.dropdown-item {
  padding: 2px 0;
}

.dropdown-menu--flexed {
  display: flex;

  ul {
    flex: 1;
  }
}

.dropdown-menu {
  background: #f1f1f1;

  a.dropdown-item {
    margin-left: 15px;

    &:focus,
    &:hover,
    &:active {
      background: none;
      color: black;
}
  }
}

.dropdown-menu--flexed__category {
  list-style-type: none;
  padding-left: 0px;

  li {
    padding: 0;
  }
}

.dropdown-menu--flexed__category--title {
  font-weight: bold;
}

/* ეს არ წაშალოთ */
/* .navbar-nav li:hover .dropdown-menu {  
  display: block;
} */

@media screen and (max-width: 380px) {
  .dropdown-menu--flexed {
    flex-direction: column;
    width: 100%;
  }
}