h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
  }
  
.product-grid {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  // z-index: 1;

  .product-image {
    position: relative;
    transition: all 0.3s ease 0s;

    a {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
    }

    .sale-tag {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #ef5777;
      border: 1px solid #cf4361;
      border-radius: 50px;
      color: white;
      font-size: 1.2em;
      padding: 15px 6.5px;
    }
  }

  .pic-1 {
    opacity: 1;
    transition: all 0.3s ease-out 0s;
  }

  .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out 0s;
  }

  &:hover {
    .pic-1 {
      opacity: 1;
    }
    .pic-2 {
      opacity: 1;
    }
    .social {
      opacity: 1;
      top: 50%;
    }
  }

  .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;

    li {
      display: inline-block;

      button:hover {
        color: #fff;
        background-color: #ef5777;
        cursor: pointer;
      }

      a {
        color: #fff;
        background-color: #333;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        width: 40px;
        margin: 0 2px;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .product-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -27px;
    // z-index: 1;
    transition: all 0.3s;
  }

  .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;

    a {
      color: #828282;
    }
  }

  .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all 0.3s;

    span {
      color: #999;
      font-size: 13px;
      font-weight: 400;
      text-decoration: line-through;
      margin-left: 3px;
      display: inline-block;
    }
  }

  .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600;
  }
}

.product-grid .social li button:after,
.product-grid .social li button:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.product-grid .social li button:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  // z-index: -1;
}

.product-grid .social li button:hover:after,
.product-grid .social li button:hover:before {
  opacity: 1;
}

.product-grid .product-discount-label {
  background-color: #333;
  left: auto;
  right: 0;
}

.product-grid:hover .product-content {
  bottom: 0;
}

.product-grid .title a:hover,
.product-grid:hover .title a {
  color: #ef5777;
}

.reduced {
  text-decoration: line-through;
  color: rgb(211, 0, 0);
  font-weight: 400;
  font-size: 0.9em;
}

.productsDisplay {
  width: 90%;
  margin: 40px auto;
}

.hide {
  display: none;
}